.carousel {
  &__wrapper {
    position: relative;

    width: 500px;
    height: 500px;
    margin: auto;
    border: 1px solid black;
  }

  &__item {
    position: absolute;

    width: 56px;
    height: 56px;
    border: 1px solid #303e5850;
    border-radius: 50%;

    line-height: 56px;
    text-align: center;

    background-color: #f4f5f9;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 60px;

    line-height: 56px;
    text-align: left;
  }
}

.carousel-trajectory {
  opacity: 0.2;

  fill: none;
  stroke: #42567a;
  stroke-miterlimit: 1;
  stroke-width: 1;

  &__wrapper {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    overflow: visible;

    width: 300px;
    height: 300px;
  }
}
