@use "../../shared/styles/breakpoints";

.carousel {
  &__wrapper {
    display: none;

    @include breakpoints.lg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -18%);

      display: block;

      width: 550px;
      height: 550px;
    }
  }

  &__controls-wrapper {
    position: absolute;
    bottom: -325px;
    width: 100%;
    padding: 0 20px;

    @include breakpoints.lg {
      bottom: -195px;
      left: 60px;
      width: auto;
    }
  }

  &__controls {
    display: flex;
    gap: 8px;

    @include breakpoints.lg {
      gap: 20px;
    }
  }

  &__progress {
    margin-bottom: 5px;
    font-size: 14px;

    @include breakpoints.lg {
      margin-bottom: 20px;
    }
  }
}

.carousel-trajectory {
  opacity: 0.2;

  fill: none;
  stroke: #42567a;
  stroke-miterlimit: 1;
  stroke-width: 1;

  &__wrapper {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    overflow: visible;

    width: 530px;
    height: 530px;
  }
}

.pagination {
  position: relative;
  bottom: 20px;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 100%;

  &__item {
    cursor: pointer;

    width: 6px;
    height: 6px;
    border-radius: 50%;

    opacity: 0.4;
    background-color: #42567a;

    &_current {
      opacity: 1;
    }
  }

  @include breakpoints.lg {
    display: none;
  }
}
