@use "./breakpoints.module";

.divider {
  width: 100%;
  height: 1px;
  margin-bottom: 20px;
  background-color: #c7cdd9;

  @include breakpoints.lg {
    display: none;
  }

  &__container {
    padding: 0 20px;
  }
}
