@use "./reset.module";
@use "./fonts";

:root {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  text-rendering: optimizelegibility;

  font-synthesis: none;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;

  line-height: 1.5;
  color: #42567a;
}

h1,
h2,
h3,
h4 {
  font-style: normal;
  line-height: 1.2;
}

h1 {
  font-size: 20px;
  font-weight: 700;
}

h2 {
  font-size: 26px;
  font-weight: 700;
}

h3 {
  font-size: 56px;
  font-weight: 700;
  color: #3877ee;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  color: #3877ee;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}
