@use "./reset.module";
@use "./fonts";
@use "./breakpoints.module";

:root {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  text-rendering: optimizelegibility;

  font-synthesis: none;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;

  line-height: 1.5;
  color: #42567a;

  background-color: #f4f5f9;
}

h1,
h2,
h3,
h4 {
  font-style: normal;
  line-height: 1.2;
}

h1 {
  font-size: 20px;
  font-weight: 700;
}

h2 {
  margin-bottom: 56px;
  font-size: 20px;
  font-weight: 700;

  @include breakpoints.lg {
    font-size: 56px;
  }
}

h3 {
  font-size: 58px;
  font-weight: 700;
  color: #3877ee;
  letter-spacing: -0.02em;

  @include breakpoints.lg {
    font-size: 200px;
    text-align: center;
  }
}

h4 {
  font-size: 16px;
  font-weight: 400;
  color: #3877ee;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

section {
  padding: 59px 20px 10px;
}
